bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
.DS_Store

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Zip files
*.zip
*.tar

# unused auxiliary files
nouse_*

# Do not read jupyter notebooks
*.ipynb_checkpoints/
*.ipynb
# Avoid reading config files
config.json
# Avoid reading images
*.png
*.jpg
*.jpeg
# Avoid reading key slides
*.key

